{% extends 'default/helper.html.twig' %}

{% block body %}
    <div class="main-form">
        <h1>Modifier son profile</h1>
        <div>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
        <div>
            {{ form_start(editPasswordForm) }}
            {{ form_widget(editPasswordForm) }}
            {{ form_end(editPasswordForm) }}
        </div>
    </div>
{% endblock %}



