{% extends 'default/organizer.html.twig' %}
{% block main_attributes %}class="full-content"{% endblock %}
{% block body_class %}editor{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>
{% endblock %}

{% block body %}
    <div class="editor--container">
        <div class="bar">
            <div class="tab-bar">
                <nav class="tab">
                    <button class="tablinks" onclick="openTab(event, 'tracks-pan')">Tracés</button>
                    <button class="tablinks" onclick="openTab(event, 'pois-pan')">Points d'intéret</button>
                </nav>
                <div class="tabcontent" id="tracks-pan">
                    <button class="btn--action" id="addTrackButton">Ajouter un parcours</button>
                    <ul id="editor--list" class="editor--list checkbox-list">
                        <!-- FILLED IN JS-->
                    </ul>
                </div>
                <div class="tabcontent" id="pois-pan">
                    <ul id="list--pois" class="editor--list list--pois">
                        <!-- FILLED IN JS-->
                    </ul>
                </div>
            </div>
            <div class="tab-bar--actions">
                <a class="btn btn--action btn--return">Retour</a>
                <button aria-label="Fermer la barre latérale" class="btn--laterale-bar" id="btn--laterale-bar">x
                </button>
            </div>
        </div>
        <div class="map--container">
            <div id="map" class="map"></div>
            <button id="addPoiButton" class="btn--add-poi">
                <span class="btn--editor">
                    <span>+</span>
                </span>
            </button>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    <!-- Make sure you put this AFTER Leaflet's CSS -->

    <script type="text/javascript" src="{{ asset('assets/js/lib/leaflet.js') }}"></script>

    <script type="text/javascript" src="{{ asset('assets/js/lib/GpxFactory.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/lib/MapManager.js') }}"></script>


    <script>


        var mapManager = new MapManager();
        var raidID = parseInt({{ id }});
        mapManager.markerIconUrl = '{{ asset('assets/images/map-marker-main.svg') }}';
        mapManager.initialize();

        mapManager.addPoi(0, "Enssat", [48.729644, -3.462390], '#78e08f');
        mapManager.addPoi(1, "Enssat2", [48.729644, -3.463000], '#f74a45');
        mapManager.addPoi(2, "Enssat3", [48.729644, -3.464000], '#a88f73');

        //mapManager.addTrack(1, "Parcours course à pied ", [[48.753503, -3.236325], [48.601453, -3.544028], [48.905298, -3.356664]], '#78e08f');
        //mapManager.addTrack(2, "Parcours kayak ", [[48.224669, -3.257484], [48.703163, -3.482751], [48.528878, -3.231008]], '#f74a45');
        //mapManager.addTrack(3, "Parcours VTT ", [[48.735177, -3.409807], [48.502598, -3.445755], [48.103357, -3.519441]], '#a88f73');


    </script>
    <script type="text/javascript" src="{{ asset('assets/js/lib/Editor.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/lib/Track.js') }}"></script>

{% endblock %}

