{% extends 'default/organizer.html.twig' %}
{% block main_attributes %}class="main-editor"{% endblock %}
{% block body_class %}editor{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb--list">
        <li class="breadcrumb--list-item"><a href="{{ path('homepage') }}">Administration</a></li>
        <li class="breadcrumb--list-item"><a href="{{ path('displayRaid', {'id': id}) }}">Détails du raid</a></li>
        <li class="breadcrumb--list-item">Éditeur</li>
    </ol>

    <button class="btn-ico" id="editorTutorial" title="Tutoriel"><span>Voir l'aide</span> <i class="fas fa-lightbulb fa-lg"></i></button>
{% endblock %}

{% block body %}
<div class="full-content">
    <div id="editorContainer" class="editor--container">
        <div class="bar">
            <div class="tab-bar">
                <button class="active accordion">Parcours</button>
                <div class="active panel tabcontent" id="tracks-pan">
                    <!--button class="btn--action" id="addTrackButton">Ajouter un parcours</button--->
                    <ul id="editor--list" class="editor--list checkbox-list">
                        <!-- FILLED IN JS-->
                    </ul>
                </div>
                <button class="active accordion">Points d'intéret</button>
                <div class=" panel tabcontent" id="pois-pan">
                    <ul id="list--pois" class="editor--list list--pois">
                        <!-- FILLED IN JS-->
                    </ul>
                </div>
            </div>
            <div class="tab-bar--actions">
                <!--a href="{{ path('displayRaid', {'id': id}) }}" class="btn btn--action btn--return">Retour</a-->
                <button aria-label="Fermer la barre latérale" class="btn--laterale-bar" id="btn--laterale-bar">
                    <i class="fas fa-caret-right"></i>
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="map--container">
            <div id="map" class="map"></div>

            <div class="fab">
              <span id="fabActionButton"  class="fab-action-button btn--add-poi">
                <span class="btn--editor">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 122.85 122.85">
                       <path d="M122.85,48.06q0,12.15-6.75,19.44T96.93,74.79H74.79v48.06q-12.15,0-19.44-6.75T48.06,96.93V74.79H0Q0,62.64,6.75,55.35t19.17-7.29H48.06V0Q60.21,0,67.5,6.75t7.29,19.17V48.06Z" />
                    </svg>
                </span>
              </span>
                <ul class="fab-buttons">
                    <li class="fab-buttons__item">
                        <a href="#" id="addTrackButton" class="fab-buttons__link" data-tooltip="Ajouter un parcours">
                            <i class="icon-material icon-material_track fab-icon"></i>
                        </a>
                    </li>
                    <li class="fab-buttons__item">
                        <a href="#" id="addPoiButton"  class="fab-buttons__link" data-tooltip="Ajouter un point d'intéret">
                            <i class="icon-material icon-material_poi fab-icon"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- ADD TRACK  -->
    <div id="add-track-popin" aria-hidden="true" class="modal" data-micromodal-close>
        <!-- [2] -->
        <div tabindex="-1" data-micromodal-close>
            <!-- [3] -->
            <div role="dialog" aria-modal="true" aria-labelledby="add-track-title" data-micromodal-close>
                <div class="modal-container">
                    <header class="modal--header ">
                        <h2 id="add-track-title">
                            Ajouter un parcours
                        </h2>
                        <!-- [4] -->
                        <button aria-label="Fermer la fenêtre" data-micromodal-close><i
                                    data-micromodal-close class="fas fa-times"></i></button>
                    </header>
                    <div id="add-track-content" class="modal--content">
                        <div>
                            <form name="addTrack" id="addTrack_form">
                                <div id="addTrack">
                                    <div class="form--item">
                                        <label for="addTrack_name" class="required">
                                            Nom du parcours <span class="input--required">*</span>
                                        </label>
                                        <input class="form--input-text" type="text" id="addTrack_name"
                                               required="required" maxlength="100">
                                    </div>
                                    <div class="form--item form--item-select">
                                        <label for="addTrack_sportType" class="required">
                                            Type de sport <span class="input--required">*</span>
                                        </label>
                                        <select id="addTrack_sportType" required>
                                            {% for sportType in sportTypes %}
                                                <option value="{{ sportType.id }}">{{ sportType.sport }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form--item">
                                        <label for="addTrack_color" class="required">Couleur <span class="input--required">*</span></label>
                                        <input class="form--input-text" type="color" id="addTrack_color">
                                    </div>
                                    <div class="actions">
                                        <button type="submit" id="addTrack_submit" class="btn">Ajouter un parcours</button>
                                        <button type="button" class="btn btn--danger" data-micromodal-close>Annuler</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- TRACK SETTINGS -->
    <div id="edit-track-popin" aria-hidden="true" class="modal" data-micromodal-close>
        <!-- [2] -->
        <div tabindex="-1" data-micromodal-close>
            <!-- [3] -->
            <div role="dialog" aria-modal="true" aria-labelledby="edit-track-title" data-micromodal-close>
                <div class="modal-container">
                    <header class="modal--header ">
                        <h2 id="edit-track-title">
                            Éditer un parcours
                        </h2>
                        <!-- [4] -->
                        <button aria-label="Fermer la fenêtre" data-micromodal-close><i
                                    data-micromodal-close class="fas fa-times"></i></button>
                    </header>
                    <div id="edit-track-content" class="modal--content">
                        <div>
                            <form name="editTrack" id="editTrack_form">
                                <div id="editTrack">
                                    <div class="form--item  form--input-focused">
                                        <label for="editTrack_name" class="required">
                                            Nom du parcours <span class="input--required">*</span>
                                        </label>
                                        <input class="form--input-text" type="text" id="editTrack_name"
                                               required="required" maxlength="100">
                                    </div>
                                    <div class="form--item form--item-select">
                                        <label for="editTrack_sportType" class="required">
                                            Type de sport <span class="input--required">*</span>
                                        </label>
                                        <select id="editTrack_sportType" required>
                                            {% for sportType in sportTypes %}
                                                <option value="{{ sportType.id }}">{{ sportType.sport }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form--item  form--input-focused">
                                        <label for="editTrack_color" class="required">
                                            Couleur <span class="input--required">*</span></label>
                                        <input class="form--input-text" type="color" id="editTrack_color">
                                    </div>
                                    <input class="form--input-text" type="hidden" id="editTrack_id" >
                                    <div class="actions">
                                        <button type="submit" id="editTrack_submit" class="btn">Mettre à jour</button>
                                        <button type="button" class="btn btn--danger" id="editTrack_delete">Annuler</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ADD POI  -->
    <div id="add-poi-popin" aria-hidden="true" class="modal" data-micromodal-close>
        <!-- [2] -->
        <div tabindex="-1" data-micromodal-close>
            <!-- [3] -->
            <div role="dialog" aria-modal="true" aria-labelledby="add-poi-title" data-micromodal-close>
                <div class="modal-container">
                    <header class="modal--header ">
                        <h2 id="add-poi-title">
                            Nouveau point d'intérêt
                        </h2>
                        <!-- [4] -->
                        <button aria-label="Fermer la fenêtre" data-micromodal-close><i
                                    data-micromodal-close class="fas fa-times"></i></button>
                    </header>
                    <div id="add-poi-content" class="modal--content">
                        <div>
                            {% if poiTypes is empty %}
                                <div class="alert alert--danger">
                                    <p>Il n'existe aucun type de point d'intérêt.</p>
                                    <p>Pour en ajouter, <a href="{{ path('addPoiType') }}">cliquez ici</a>.</p>
                                </div>
                            {% endif %}

                                <form name="addPoi" id="addPoi_form">
                                <div id="addPoi">
                                    <div class="form--item">
                                        <label for="addPoi_name" class="required">
                                            Nom du point d'intérêt <span class="input--required">*</span>
                                        </label>
                                        <input class="form--input-text" type="text" id="addPoi_name"
                                               required="required" maxlength="45">
                                    </div>
                                    <div class="form--item">
                                        <label for="addPoi_nbhelper" class="required">
                                            Nombre de bénévoles requis <span class="input--required">*</span>
                                        </label>
                                        <input class="form--input-text" type="number" id="addPoi_nbhelper" required="required" min="0">
                                    </div>
                                    <div class="form--item form--item-select">
                                        <label for="addPoi_type" class="required">
                                            Type du point d'intérêt <span class="input--required">*</span>
                                        </label>
                                        <select id="addPoi_type" required>
                                            {% for poiType in poiTypes %}
                                            <option value="{{ poiType.id }}">{{ poiType.type }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="actions">
                                        <button type="submit" id="addPoi_submit">Ajouter</button>
                                        <button type="button" id="addPoi_cancel" class="btn--danger" data-micromodal-close>Annuler</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- EDIT POI -->
    <div id="edit-poi-popin" aria-hidden="true" class="modal" data-micromodal-close>
        <!-- [2] -->
        <div tabindex="-1" data-micromodal-close>
            <!-- [3] -->
            <div role="dialog" aria-modal="true" aria-labelledby="edit-poi-title" data-micromodal-close>
                <div class="modal-container">
                    <header class="modal--header ">
                        <h2 id="edit-poi-title">
                            Éditer un point d'intéret
                        </h2>
                        <!-- [4] -->
                        <button aria-label="Fermer la fenêtre" data-micromodal-close><i
                                    data-micromodal-close class="fas fa-times"></i></button>
                    </header>
                    <div id="edit-poi-content" class="modal--content">
                        <div>
                            <form name="editPoi" id="editPoi_form">
                                <div id="editPoi">
                                    <div class="form--item form--input-focused">
                                        <label for="editPoi_name" class="required">
                                            Nom du point d'intérêt <span class="input--required">*</span>
                                        </label>
                                        <input class="form--input-text" type="text" id="editPoi_name"
                                               required="required" maxlength="45">
                                    </div>
                                    <div class="form--item form--input-focused">
                                        <label for="editPoi_nbhelper" class="required">
                                            Nombre de bénévoles requis <span class="input--required">*</span>
                                        </label>
                                        <input class="form--input-text" type="number" id="editPoi_nbhelper" required="required">
                                    </div>
                                    <div class="form--item form--item-select">
                                        <label for="editPoi_type" class="required">
                                            Type du point d'intérêt <span class="input--required">*</span>
                                        </label>
                                        <select id="editPoi_type" required>
                                            <option value="1" selected>Parking</option>
                                            <option value="2" >Point dangereux</option>
                                            <option value="3">Restauration</option>
                                        </select>
                                    </div>
                                    <input class="form--input-text" type="hidden" id="editPoi_id" >
                                    <div class="actions">
                                        <button type="submit" id="editPoi_submit" class="btn">Mettre à jour</button>
                                        <button type="button" class="btn btn--danger" id="editPoi_delete">Annuler</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- [1] -->
    <div id="delete-track" aria-hidden="true" class="modal modal--danger" data-micromodal-close>
        <!-- [2] -->
        <div tabindex="-1" data-micromodal-close>
            <!-- [3] -->
            <div role="dialog" aria-modal="true" aria-labelledby="delete-track-title" >
                <div class="modal-container">
                    <header class="modal--header modal--header--danger">
                        <h2 id="delete-track-title">
                            Supprimer un parcours
                        </h2>
                        <!-- [4] -->
                        <button aria-label="Fermer la fenêtre" data-micromodal-close class="btn--danger"><i data-micromodal-close class="fas fa-times"></i></button>
                    </header>
                    <div id="delete-track-content" class="modal--content">
                        <p>Êtes-vous certains de vouloir supprimer ce parcours ?</p>
                        <p class="text--important">Cette action est irréversible.</p>
                        <div class="modal--actions">
                            <button type="button" class="btn btn--danger" id="btn--delete-track"  data-id="">Supprimer</button>
                            <button data-micromodal-close class="btn btn--cancel">Annuler</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- [1] -->
    <div id="delete-poi" aria-hidden="true" class="modal modal--danger" data-micromodal-close>
        <!-- [2] -->
        <div tabindex="-1" data-micromodal-close>
            <!-- [3] -->
            <div role="dialog" aria-modal="true" aria-labelledby="delete-poi-title" >
                <div class="modal-container">
                    <header class="modal--header modal--header--danger">
                        <h2 id="delete-poi-title">
                            Supprimer un point d'intérêt
                        </h2>
                        <!-- [4] -->
                        <button aria-label="Fermer la fenêtre" data-micromodal-close class="btn--danger"><i data-micromodal-close class="fas fa-times"></i></button>
                    </header>
                    <div id="delete-poi-content" class="modal--content">
                        <p>Êtes-vous certains de vouloir supprimer ce point d'intérêt ?</p>
                        <p class="text--important">Cette action est irréversible.</p>
                        <div class="modal--actions">
                            <button type="button" class="btn btn--danger" id="btn--delete-poi"  data-id="">Supprimer</button>
                            <button data-micromodal-close class="btn btn--cancel">Annuler</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Tutorial  -->
    <div id="tutorial_1" aria-hidden="true" class="modal" data-micromodal-close>
        <!-- [2] -->
        <div tabindex="-1" data-micromodal-close>
            <!-- [3] -->
            <div role="dialog" aria-modal="true" data-micromodal-close>
                <div class="modal-container modal-tutorial">
                    <header class="modal--header ">
                        <h2>
                            Bienvenue sur l'éditeur Raidy
                        </h2>
                        <!-- [4] -->
                        <button aria-label="Fermer la fenêtre" data-micromodal-close><i
                                    data-micromodal-close class="fas fa-times"></i></button>
                    </header>
                    <div class="modal--content">
                        <div>
                            <p>Avant de commencer, nous vous proposons de suivre un rapide tutoriel. Vous pouvez retrouver à tout moment ce tutoriel à partir du menu d'actions.</p>
                            <p>L'éditeur de carte Raidy vous permettra de préparer votre raid.</p>
                            <p class="text--introducing">Vous pourrez :</p>
                            <ul>
                                <li>Créer et gérer des parcours</li>
                                <li>Créer et gérer des points d'intérêt</li>
                                <li>Importer et exporter des fichiers .gpx</li>
                            </ul>
                        </div>
                        <div class="btn--actions-tutorial">
                            <button class="btn btn--danger" data-micromodal-close>Fermer</button>
                            <button class="btn btn--editor-tutorial" data-id="2" data-current="1">Suivant</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="tutorial_2" aria-hidden="true" class="modal" data-micromodal-close>
        <!-- [2] -->
        <div tabindex="-1" data-micromodal-close>
            <!-- [3] -->
            <div role="dialog" aria-modal="true" aria-labelledby="add-poi-title" data-micromodal-close>
                <div class="modal-container modal-tutorial">
                    <header class="modal--header ">
                        <h2>
                            L'interface (2)
                        </h2>
                        <!-- [4] -->
                        <button aria-label="Fermer la fenêtre" data-micromodal-close><i
                                    data-micromodal-close class="fas fa-times"></i></button>
                    </header>
                    <div class="modal--content">
                        <div>
                            <ol>
                                <li>
                                    <h2>La barre latérale</h2>
                                    <p>Cette barre latérale liste les différents parcours et points d'intérêt créés. Au clic sur un accordéon, la liste concernée est cachée ou affichée.</p>
                                    <p>Pour chaque item, il y a un menu contextuel qui permet de modifier l'entité concernée ou de la supprimer.</p>
                                </li>
                                <li>
                                    <h2>La carte</h2>
                                    <p>La carte est l'élément le plus important de l'éditeur Raidy, car elle permet de : </p>
                                    <ul>
                                        <li>ajouter des parcours et des points d'intérêt</li>
                                        <li>visualiser les parcours et les points d'inérêt créés</li>
                                        <li>concevoir et modifier des tracés</li>
                                    </ul>
                                </li>
                                <li>
                                    <h2>Le menu d'action</h2>
                                    <p>Le menu d'action permet de travailler sur l'éditeur. Au survol, les différentes actions possibles deviennent accessibles.</p>
                                    <ol>
                                        <li>Création d'un parcours</li>
                                        <li>Création d'un point d'intérêt</li>
                                        <li>Tutoriel</li>
                                    </ol>
                                </li>
                            </ol>
                        </div>
                        <div class="btn--actions-tutorial">
                            <button class="btn btn--editor-tutorial" data-id="1" data-current="2">Précédent</button>
                            <button class="btn btn--editor-tutorial" data-id="3" data-current="2">Suivant</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="tutorial_3" aria-hidden="true" class="modal" data-micromodal-close>
        <!-- [2] -->
        <div tabindex="-1" data-micromodal-close>
            <!-- [3] -->
            <div role="dialog" aria-modal="true" aria-labelledby="add-poi-title" data-micromodal-close>
                <div class="modal-container modal-tutorial">
                    <header class="modal--header ">
                        <h2>
                            Les parcours (3)
                        </h2>
                        <!-- [4] -->
                        <button aria-label="Fermer la fenêtre" data-micromodal-close><i
                                    data-micromodal-close class="fas fa-times"></i></button>
                    </header>
                    <div class="modal--content">
                        <div>
                            <p>L'éditeur de carte Raidy vous permettra de préparer votre raid.</p>
                            <p>Vous pourrez :</p>
                            <ul>
                                <li>Créer et gérer des parcours</li>
                                <li>Créer et gérer des points d'intérêt</li>
                                <li>Importer les fichiers .gpx d'autres services</li>
                                <li>Exporter le raid en .gpx</li>
                            </ul>
                        </div>

                        <div class="btn--actions-tutorial">
                            <button class="btn btn--editor-tutorial" data-id="2" data-current="3">Précédent</button>
                            <button class="btn btn--danger" data-micromodal-close>Terminer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Import GPX -->
    <div id="import-gpx" aria-hidden="true" class="modal modal--danger" data-micromodal-close>
        <!-- [2] -->
        <div tabindex="-1" data-micromodal-close>
            <!-- [3] -->
            <div role="dialog" aria-modal="true" aria-labelledby="delete-poi-title" >
                <div class="modal-container">
                    <header class="modal--header modal--header--danger">
                        <h2 id="delete-poi-title">
                            Importer un fichier GPX
                        </h2>
                        <!-- [4] -->
                        <button aria-label="Fermer la fenêtre" data-micromodal-close class="btn--danger"><i data-micromodal-close class="fas fa-times"></i></button>
                    </header>
                    <div id="import-gpx-content" class="modal--content">
                        <form id="import-gpx--form" class="gpx-import--form">
                            <input type="file" id="import-gpx--input">

                            <div id="import-gpx--tracks" class="import-gpx--category">
                                <h3>Tracés</h3>
                                <div class="import-gpx--checkboxes"></div>
                            </div>
                            <div id="import-gpx--routes" class="import-gpx--category">
                                <h3>Routes</h3>
                                <div class="import-gpx--checkboxes"></div>
                            </div>
                            <div id="import-gpx--waypoints" class="import-gpx--category">
                                <h3>Points de passages</h3>
                                <div class="import-gpx--checkboxes"></div>
                            </div>

                            <div class="actions">
                                <button type="submit" class="btn btn--action">Importer</button>
                                <button type="button" class="btn btn--danger" data-micromodal-close>Annuler</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <!-- Make sure you put this AFTER Leaflet's CSS -->

    <!--script type="text/javascript" src="{#{ asset('assets/js/lib/leaflet.js') }#}"></script-->
    <!--script-- type="text/javascript" src="{#{ asset('assets/js/lib/Leaflet.Editable.js') }#}"></script-->
    <!--script-- type="text/javascript" src="{#{ asset('assets/js/lib/GpxFactory.js') }#}"></script-->
    <!--script type="text/javascript" src="{#{ asset('assets/js/lib/MapManager.js') }#}"></script-->


    <script>
        var mapManager;
        var raidID;
        document.addEventListener("DOMContentLoaded", function () {
            mapManager = new MapManager();
            raidID = parseInt({{ id }});
            mapManager.initialize();
        });
    </script>

    {% if app.user.tutorialTime is null %}
        <script>
            var tutorial = true;
        </script>
    {% else %}
        <script>
            var tutorial = false;
        </script>
    {% endif %}

    <!--script type="text/javascript" src="{#{ asset('assets/js/lib/Editor.js') }#}"></script-->
    <!--script type="text/javascript" src="{#{ asset('assets/js/lib/Track.js') }#}"></script-->

{% endblock %}

