{% if form is defined %}
    {% form_theme form 'form/fields.html.twig' %}
{% endif %}

{% if base_class is not defined %}
    {% set base_class = 'default' %}
{% endif %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %} | Raidy</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('assets/dist/css/styles.min.css') }}" />

        {% block favicon %}{% endblock %}
    </head>
    <body class="{{ base_class }}">
        <header>
            <a href="/" class="logo">
                <img src="{{ asset('assets/images/logo-white.svg') }}" alt="Logo Raidy">
            </a>

            <nav class="header--nav">
                <ul>
                    <li class="header--nav-item">
                        <a href="" aria-label="Paramètres">
                            <i aria-hidden="true" class="fas fa-user fa-lg"></i>
                        </a>
                    </li>
                    <li class="header--nav-item">
                        <a href="{{ path('fos_user_security_logout') }}" aria-label="Déconnexion">
                            <i aria-hidden="true" class="fas fa-power-off fa-lg"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="breadcrumb">
                {% block breadcrumb %}
                    <!--<ol class="breadcrumb--list">
                        <li class="breadcrumb--list-item"><a href="">Mes raids</a></li>
                        <li class="breadcrumb--list-item"><a href="">Mes raids</a></li>
                        <li class="breadcrumb--list-item">Ajouter un organisateur</li>
                    </ol>-->
                {% endblock %}
            </div>

            {% block body %}{% endblock %}
        </main>
        <footer>
        </footer>
        <script type="text/javascript" src="{{ asset('assets/dist/js/scripts.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
