{% extends 'default/organizer.html.twig' %}

{% block breadcrumb %}
    <ol class="breadcrumb--list">
        <li class="breadcrumb--list-item">Organizer</li>
    </ol>
{% endblock %}

{% block body %}
    <div class="content-raids">
        <div class="raids--list">
            <h1>Mes raids</h1>
            <div class="raids--list-items">
                {% if is_granted('ROLE_ORGANIZER') or is_granted('ROLE_SUPERADMIN') %}
                    <div class="raid raid--add">
                        <a href="{{ path('addRaid') }}">
                            <span>+</span>
                        </a>
                    </div>
                {% endif %}
                {% for raid in raids %}
                    <div class="raid" style="background-image: url('{{ asset('uploads/raids/' ~ raid.picture) }}');">
                        <a href="{{ path('displayRaid', {'id': raid.id}) }}">
                            <div class="raid--content">
                                <div class="raid--content-container">
                                    <p class="raid--name">{{ raid.name }}</p>
                                    <p class="raid--date">{{ raid.date|date("d/m/Y") }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="profile">
            <h1>Mon profil</h1>
            <h2>{{ user.firstname }} {{ user.lastname }}</h2>
            <div class="profile--contact-information">
                <h3>Coordonnées <a href="{{ path('editOrganizerProfile') }}"><i aria-hidden="true" class="fas fa-pen"></i></a></h3>
                <p>Téléphone : <a href="tel:{{ user.phone|replace({' ' : ''}) }}">{{ user.phone|telephone }}</a></p>
                <p>E-mail : <a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
            </div>
            <h2>Liens utiles</h2>
            <ul>
                {% if is_granted('ROLE_ORGANIZER') or is_granted('ROLE_SUPERADMIN') %}
                    <li>
                        <a href="{{ path('listPoiType') }}">Gérer les types de points d'intérêt</a>
                    </li>
                {% endif %}
            </ul>
            <div class="downloads">
                <h2>Téléchargez l'application Raidy</h2>
				<div class="downloads--links">
					<a href="#" download>
						<img src="{{ asset('assets/images/app-store-badge.png') }}" alt="">
					</a>
					<a href="assets/mobile_apps/raidy-organizer.apk" download>
						<img src="{{ asset('assets/images/google-play-badge.png') }}" alt="">
					</a>
				</div>
			</div>
        </div>
    </div>
{% endblock %}