{% extends 'default/organizer.html.twig' %}

{% block breadcrumb %}
    <ol class="breadcrumb--list">
        <li class="breadcrumb--list-item"><a href="{{ path('listRaid') }}">Organizer</a></li>
        <li class="breadcrumb--list-item">{{ raid.name }}</li>
    </ol>
{% endblock %}

{% block body %}
    <h1>{{ raid.name }}</h1>
    <div class="content">
        <div class="content--part">
            {% for flash_message in app.session.flashBag.get('success') %}
                <div class="alert alert--success">
                    <p>{{ flash_message }}</p>
                </div>
            {% endfor %}

            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
        <div class="content--part">
            <div>
                <h2>Editeur</h2>
                <a href="{{ path('editor', {'id': raid.id}) }}">{{ app.request.getSchemeAndHttpHost() ~ path('editor', {'id': raid.id}) }}</a>
            </div>
            <div>
                <h2>Inviter des bénévoles</h2>
                <a href="{{ path('inviteHelper', {'id': raid.id}) }}">{{ app.request.getSchemeAndHttpHost() ~ path('inviteHelper', {'id': raid.id}) }}</a>
            </div>

        </div>
    </div>

{% endblock %}