{% extends 'default/organizer.html.twig' %}
{% form_theme form 'form/fields.html.twig' %}

{% block breadcrumb %}
    <ol class="breadcrumb--list">
        <li class="breadcrumb--list-item"><a href="#">Mes raids</a></li>
        <li class="breadcrumb--list-item">{{ raid.name }}</li>
    </ol>
{% endblock %}

{% block body %}
    <h1>{{ raid.name }}</h1>

    <div class="content">
        <div class="content--part">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}

            <a href="{{ path('deleteRaid', {'id': raid.id}) }}" class="btn btn--full-width btn--danger">Supprimer</a>
        </div>
    </div>

{% endblock %}