{% extends 'default/organizer.html.twig' %}


{% block stylesheets %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>
    <style>
        .map {
            height: 100%;
            width: 100%;
        }

        @media screen and (max-width: 980px) {
            .map {
                height: 50vh;
                width: 100%;
            }
        }
    </style>
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb--list">
        <li class="breadcrumb--list-item"><a href="{{ path('listRaid') }}">Organizer</a></li>
        <li class="breadcrumb--list-item">{{ raid.name }}</li>
    </ol>
{% endblock %}

{% block body %}
    <h1>{{ raid.name }}</h1>
    <div class="content content--reverse-small">
        <div class="content--quarter">
            {% for flash_message in app.session.flashBag.get('success') %}
                <div class="alert alert--success">
                    <p>{{ flash_message }}</p>
                </div>
            {% endfor %}

            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}


            {% if (is_granted('ROLE_ORGANIZER') and app.user == raid.user) or is_granted('ROLE_SUPERADMIN') %}
            <div class="clone-btn">
                <a href="{{ path('cloneRaid', {'raidId': raid.uniqid}) }}" class="btn">Cloner le raid</a>
            </div>
            {% endif %}
        </div>

        <div class="map--container content--half">
            <div id="map" class="map"></div>
        </div>

        <div class="content--quarter">


            <div class="cards-block">
                <header class="cards-block--header">
                    <i class="fas fa-angle-up fa-lg cards-block--header--arrow" ></i>
                    <p>Parcours</p>
                </header>
                <div class="cards-block--content">
                    <div class="card">
                        <a href="{{ path('editor', {'id': raid.uniqid}) }}">
                            <i class="fas fa-map-marked-alt fa-lg"></i>
                            <p>Éditeur</p>
                        </a>
                    </div>
                    <div class="card">
                        <a href="{{ path('listPois', {'raidId': raid.uniqid}) }}">
                            <i class="fas fa-map-marker-alt fa-lg"></i>
                            <p>Points d'intérêt</p>
                        </a>
                    </div>
                    <div class="card">
                        <a href="{{ path('listRace', {'raidId': raid.uniqid}) }}">
                            <i class="fas fa-trophy fa-lg"></i>
                            <p>Épreuves</p>
                        </a>
                    </div>
                </div>
            </div>


            <div class="cards-block">
                <header class="cards-block--header">
                    <i class="fas fa-angle-up fa-lg cards-block--header--arrow"></i>
                    <p>Bénévoles</p>
                </header>
                <div class="cards-block--content">
                    <div class="card">
                        <a href="{{ path('listHelpers', {'id': raid.uniqid}) }}">
                            <i class="fas fa-users fa-lg"></i>
                            <p>Bénévoles</p>
                        </a>
                    </div>
                    <div class="card">
                        <a href="{{ path('listContacts', {'raidId': raid.uniqid}) }}">
                            <i class="fas fa-phone fa-lg"></i>
                            <p>Contacts</p>
                        </a>
                    </div>
                    <div class="card">
                        <a href="{{ path('listMessages', {'raidId': raid.uniqid}) }}">
                            <i class="fas fa-info fa-lg"></i>
                            <p>Fil d'informations</p>
                        </a>
                    </div>
                </div>
            </div>

            <div class="card">
                <a href="{{ path('listCompetitor', {'raidId': raid.uniqid}) }}">
                    <i class="fas fa-running fa-lg"></i>
                    <p>Participants</p>
                </a>
            </div>


            <div class="card">
                <a href="{{ path('liveRaid', {'id': raid.uniqid}) }}">
                    <i class="fas fa-microphone fa-lg"></i>
                    <p>Live !</p>
                </a>
            </div>

            {% if (is_granted('ROLE_ORGANIZER') and app.user == raid.user) or is_granted('ROLE_SUPERADMIN') %}
                <div class="card">
                    <a href="{{ path('listCollaborators', {'raidId': raid.uniqid}) }}">
                        <i class="fas fa-hands-helping fa-lg"></i>
                        <p>Collaborateurs</p>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script>
      var mapManager;
      var raidID;
      document.addEventListener("DOMContentLoaded", function () {
        mapManager = new MapManager();
        {# raidID = parseInt({{ raid.id }}); #}
        raidID = "{{ raid.uniqid }}";
        mapManager.initialize();
      });
    </script>
{% endblock %}
