{% extends 'default/mail_organizer.html.twig' %}

{% block body %}
    <h1>Bonjour, {{ organizer.firstname }} {{ organizer.lastname }} !</h1>

    <p><strong>{{ helper.firstname }} {{ helper.lastname }}</strong> vient de rejoindre votre raid {{ raid.name }}.</p>
    <br>
    <p>Vous pouvez dès à présent l'affecter à un point d'intérêt. </p>
    <br>
    <p>Pour vous connecter, cliquez ici : <a href="{{ path('fos_user_security_login') }}">se connecter</a>.</p>
    <p>Si le lien ne s'affiche pas correctement, merci de copier-coller ce lien dans votre navigateur : <a href="{{ path('fos_user_security_login') }}">{{ path('fos_user_security_login') }}</a></p>
    <br>
    <p>Sportivement,<br>
    <p>L'équipe Raidy</p>
{% endblock %}
