{% extends 'default/organizer.html.twig' %}

{% block breadcrumb %}
    <ol class="breadcrumb--list">
        <li class="breadcrumb--list-item"><a href="{{ path('homepage') }}">Administration</a></li>
        <li class="breadcrumb--list-item"><a href="{{ path('displayRaid', {'id': raid.id}) }}">{{ raid.name }}</a></li>
        <li class="breadcrumb--list-item">Liste des contacts</li>
    </ol>
{% endblock %}

{% block body %}
    <div class="content">
        <div class="content--half">
            <h1>Liste des contacts</h1>

            {% for flash_message in app.session.flashBag.get('success') %}
                <div class="alert alert--success">
                    <p>{{ flash_message }}</p>
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashBag.get('danger') %}
                <div class="alert alert--danger">
                    <p>{{ flash_message }}</p>
                </div>
            {% endfor %}
            <div class="table--container">
                <table class="table" id="contactsList">
                    <caption class="sr-only">Liste des contacts</caption>
                    <thead class="table--headers">
                    <tr>
                        <th scope="col">Rôle</th>
                        <th scope="col">Coordonnées</th>
                        <th scope="col">Bénévole</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>

                    {% for contact in contacts %}
                        <tr class="table--line">
                            <td>{{ contact.role }}</td>
                            <td>{{ contact.phoneNumber }}</td>
                            <td>
                                {% if contact.helper %}
                                    {{ contact.helper.user.firstName }} {{ contact.helper.user.lastName }}
                                {% else %}
                                    Pas de bénévole associé.
                                {% endif %}
                            </td>
                            <td><a href="{{ path('editContact', {'contactId': contact.id, 'raidId': contact.raid.id }) }}" class="btn">Editer</a>
                                <button data-contact-id="{{ contact.id }}" class="btn btn--danger btn--delete-contact">
                                    Supprimer
                                </button> {#data-micromodal-trigger="delete-contact" #}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="content--half">
            <h1>Ajouter un contact</h1>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>


    <!-- [1] -->
    <div id="delete-contact" aria-hidden="true" class="modal modal--danger" data-micromodal-close>
        <!-- [2] -->
        <div tabindex="-1" data-micromodal-close>
            <!-- [3] -->
            <div role="dialog" aria-modal="true" aria-labelledby="delete-contact-title" >
                <div class="modal-container">
                    <header class="modal--header modal--header--danger">
                        <h2 id="delete-contact-title">
                            Supprimer un contact
                        </h2>
                        <!-- [4] -->
                        <button aria-label="Fermer la fenêtre" data-micromodal-close class="btn--danger"><i data-micromodal-close class="fas fa-times"></i></button>
                    </header>
                    <div id="delete-contact-content" class="modal--content">
                        <p>Êtes-vous certains de vouloir supprimer ce contact ?</p>
                        <p class="text--important">Cette action est irréversible.</p>
                        <div class="modal--actions">
                            <a href="" id="btn--delete-contact" class="btn btn--danger" data-base-url="/organizer/raid/{{ raid.id }}/contact/delete/">Supprimer</a>
                            <button data-micromodal-close class="btn btn--cancel">Annuler</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}