{% extends 'default/live.html.twig' %}

{% block body %}
    <div id="app">
        <social-media-share url="{{ meta['url'] }}" raidname="{{ raid.name }}" via="{{ via }}"></social-media-share>
        <tweets-list tweets="{{ tweets }}"></tweets-list>
    </div>
{% endblock %}


{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
