{% extends 'default/live.html.twig' %}

{% block body %}
    <div id="app">
        <social-media-share url="{{ meta['url'] }}" raidname="{{ raid.name }}" via="{{ via }}"></social-media-share>
        <h1>{{ raid.name }}</h1>
        <div class="content">
            <tweets-list v-show="{{ twitter_activation }}" baseurl="{{ base_url }}" raidid="{{ raid.uniqid }}"></tweets-list>
            <competitors-component races="{{ races }}" baseurl="{{ base_url }}" competitors="{{ competitors }}" raidid="{{ raid.uniqid }}"></competitors-component>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
