{% extends 'admin/admin.html.twig' %}

{% block breadcrumb %}
    <ol class="breadcrumb--list">
        <li class="breadcrumb--list-item"><a href="{{ path('homepage') }}">Administration</a></li>
        <li class="breadcrumb--list-item"><a href="{{ path('listOrganizer') }}">Liste des organisateurs</a></li>
        <li class="breadcrumb--list-item">Ajouter un organisateur</li>
    </ol>
{% endblock %}

{% block body %}
    <div class="main-form">
        <h1>Ajouter un organisateur</h1>
        <div>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
