{% extends 'admin/admin.html.twig' %}

{% block breadcrumb %}
    <ol class="breadcrumb--list">
        <li class="breadcrumb--list-item"><a href="{{ path('homepage') }}">Administration</a></li>
        {% if userPath == false %}
            <li class="breadcrumb--list-item"><a href="{{ path('listOrganizer') }}">Liste des organisateurs</a></li>
        {% else %}
            <li class="breadcrumb--list-item"><a href="{{ path('listUsers') }}">Liste des utilisateurs</a></li>
        {% endif %}

        <li class="breadcrumb--list-item">{{ username }}</li>
    </ol>
{% endblock %}

{% block body %}

    <div class="main-form">
        <h1>Modifier le profil</h1>
        {% for flash_message in app.session.flashBag.get('success') %}
            <div class="alert alert--success">
                <p>{{ flash_message }}</p>
            </div>
        {% endfor %}
        <div>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}
