{% extends 'default/organizer.html.twig' %}

{% block breadcrumb %}
    <ol class="breadcrumb--list">
        <li class="breadcrumb--list-item"><a href="{{ path('homepage') }}">Administration</a></li>
        <li class="breadcrumb--list-item">Liste des organisateurs</li>
    </ol>
{% endblock %}

{% block body %}
    <h1>Liste des organisateurs</h1>
    <div class="table--container">
        <table class="table">
            <caption class="sr-only">Liste des organisateurs</caption>
            <thead class="table--headers">
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Adresse e-mail</th>
                    <th scope="col">Téléphone</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>

            {% for user in users %}
                <tr class="table--line">
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.phone|telephone }}</td>
                    <td>
                        <a href="{{ path('editOrganizer', {'id': user.id}) }}" class="btn">Editer</a>
                        <a href="{{ path('deleteOrganizer', {'id': user.id}) }}" class="btn btn--danger">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}