{% extends 'default/organizer.html.twig' %}

{% block breadcrumb %}
    <ol class="breadcrumb--list">
        <li class="breadcrumb--list-item"><a href="{{ path('homepage') }}">Administration</a></li>
        <li class="breadcrumb--list-item">Liste des organisateurs</li>
    </ol>
{% endblock %}

{% block body %}
    <h1>Liste des organisateurs</h1>
    {% for flash_message in app.session.flashBag.get('success') %}
        <div class="alert alert--success">
            <p>{{ flash_message }}</p>
        </div>
    {% endfor %}
    {% for flash_message in app.session.flashBag.get('danger') %}
        <div class="alert alert--danger">
            <p>{{ flash_message }}</p>
        </div>
    {% endfor %}
    <div class="table--container">
        <table class="table" id="organizersList">
            <caption class="sr-only">Liste des organisateurs</caption>
            <thead class="table--headers">
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Adresse e-mail</th>
                    <th scope="col">Téléphone</th>
                    <th scope="col">Raids</th>
                    <th scope="col">État</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>

            {% for user in users %}
                <tr class="table--line" id="organizer-{{ user.id }}">
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.phone|telephone }}</td>
                    <td>
                        {{ raidsCounter[user.id] }}
                    </td>
                    <td>
                        {% if user.enabled %}
                            Activé
                        {% else %}
                            Désactivé
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('editOrganizer', {'id': user.id}) }}" class="btn">Editer</a>
                        {# A login user cannot disable or delete his/her account. #}
                        {% if app.user.id != user.id %}
                            {% if user.enabled %}
                                <button data-organizer-id="{{ user.id }}" class="btn btn--disable-organizer">Désactiver</button> {#data-micromodal-trigger="enable-organizer" #}
                            {% else %}
                                <button data-organizer-id="{{ user.id }}" class="btn btn--enable-organizer">Activer</button> {#data-micromodal-trigger="enable-organizer" #}
                            {% endif %}

                            {% if not user.enabled or raidsCounter[user.id] == 0 %}
                                <button data-organizer-id="{{ user.id }}" data-organizer-username="{{ user.username }}" class="btn btn--danger btn--delete-organizer">Supprimer</button> {#data-micromodal-trigger="delete-organizer" #}
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <a href="{{ path('addOrganizer') }}" class="btn--fab">
        <span class="btn--fab-content">
            <span>+</span>
        </span>
    </a>

    <!-- [1] -->
    <div id="delete-organizer" aria-hidden="true" class="modal modal--danger" data-micromodal-close>
        <!-- [2] -->
        <div tabindex="-1" data-micromodal-close>
            <!-- [3] -->
            <div role="dialog" aria-modal="true" aria-labelledby="delete-organizer-title" >
                <div class="modal-container">
                    <header class="modal--header modal--header--danger">
                        <h2 id="delete-organizer-title">
                            Supprimer un organisateur
                        </h2>
                        <!-- [4] -->
                        <button aria-label="Fermer la fenêtre" data-micromodal-close class="btn--danger"><i data-micromodal-close class="fas fa-times"></i></button>
                    </header>
                    <div id="delete-organizer-content" class="modal--content">
                        <p>Êtes-vous certain de vouloir supprimer cet organisateur ?</p>
                        <p class="text--important">Cette action est irréversible.</p>

                        <p>Pour supprimer l'organisateur, veuillez entrer son nom "<span class="text--medium" id="span--organizer-name"></span>" dans le champ ci-dessous : </p>

                        <input class="form--input-text" type="text" id="organizer-name-delete"
                               required="required" maxlength="100">

                        <div class="modal--actions">
                            <button id="btn--delete-organizer-validate" class="btn btn--danger" data-base-url="/admin/organizer/delete/" data-id="" disabled>Supprimer</button>
                            <button data-micromodal-close class="btn btn--cancel">Annuler</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- [2] -->
    <div id="enable-organizer" aria-hidden="true" class="modal modal--danger" data-micromodal-close>
        <!-- [2] -->
        <div tabindex="-1" data-micromodal-close>
            <!-- [3] -->
            <div role="dialog" aria-modal="true" aria-labelledby="enable-organizer-title" >
                <div class="modal-container">
                    <header class="modal--header modal--header--danger">
                        <h2 id="enable-organizer-title">
                            Activer un organisateur
                        </h2>
                        <!-- [4] -->
                        <button aria-label="Fermer la fenêtre" data-micromodal-close class="btn--danger"><i data-micromodal-close class="fas fa-times"></i></button>
                    </header>
                    <div id="enable-organizer-content" class="modal--content">
                        <p>Êtes-vous certain de vouloir activer cet organisateur ?</p>
                        <div class="modal--actions">
                            <a href="" id="btn--enable-organizer-validate" class="btn btn--danger" data-base-url="/admin/organizer/state/">Activer</a>
                            <button data-micromodal-close class="btn btn--cancel">Annuler</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- [3] -->
    <div id="disable-organizer" aria-hidden="true" class="modal modal--danger" data-micromodal-close>
        <!-- [2] -->
        <div tabindex="-1" data-micromodal-close>
            <!-- [3] -->
            <div role="dialog" aria-modal="true" aria-labelledby="disable-organizer-title" >
                <div class="modal-container">
                    <header class="modal--header modal--header--danger">
                        <h2 id="disable-organizer-title">
                            Désactiver un organisateur
                        </h2>
                        <!-- [4] -->
                        <button aria-label="Fermer la fenêtre" data-micromodal-close class="btn--danger"><i data-micromodal-close class="fas fa-times"></i></button>
                    </header>
                    <div id="disable-organizer-content" class="modal--content">
                        <p>Êtes-vous certain de vouloir désactiver cet organisateur ?</p>
                        <div class="modal--actions">
                            <a href="" id="btn--disable-organizer-validate" class="btn btn--danger" data-base-url="/admin/organizer/state/">Désactiver</a>
                            <button data-micromodal-close class="btn btn--cancel">Annuler</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
