
{% if base_class is not defined %}
    {% set base_class = 'helper' %}
{% endif %}

{% if background_url is not defined %}
    {% set background_url = '' %}
{% endif %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{% block title %}Connexion{% endblock %} | Raidy</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('assets/dist/css/styles.min.css') }}" />

    {% block favicon %}
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('assets/favicons/' ~ base_class ~ '/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('assets/favicons/' ~ base_class ~ '/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets/favicons/' ~ base_class ~ '/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('assets/favicons/' ~ base_class ~ '/site.webmanifest') }}">
        <meta name="msapplication-TileColor" content="#0f5e54">
        <meta name="theme-color" content="#ffffff">
    {% endblock %}
</head>
<body class="{{ base_class }} login" style="background-image: url('{{ background_url }}');">
<main>

    <a href="." class="logo">
        <img src="{{ asset('assets/images/logo-' ~ base_class ~ '.png') }}" alt="Logo Raidy">
    </a>

    <div class="login-information">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <p>
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            </p>
        {% else %}
            {#<a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a> #}
        {% endif %}
    </div>

    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <div>
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>
</main>
<script type="text/javascript" src="{{ asset('assets/dist/js/scripts.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/dist/js/lib.min.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
