{% extends 'default/organizer.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>
    <style>
        .map--container {
            transition: none;
        }
        
        .map {
            height: 50%;
            width: 100%;
        }

        @media screen and (max-width: 980px) {
            .map {
                height: 50vh;
                width: 100%;
            }
        }
    </style>
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb--list">
        <li class="breadcrumb--list-item"><a href="{{ path('homepage') }}">Administration</a></li>
        <li class="breadcrumb--list-item">Liste des bénévoles</li>
    </ol>
{% endblock %}

{% block main_attributes %}
    class="main-flex-column"
{% endblock %}

{% block body %}
    <h1>Liste des bénévoles</h1>
    <div class="content">
        <div class="content--half">
            <div class="table--container">
                <table class="table" id="helpersList">
                    <caption class="sr-only">Liste des organisateurs</caption>
                    <thead class="table--headers">
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Prénom</th>
                        <th scope="col">Poste souhaité</th>
                        <th scope="col">Poste affecté</th>
                    </tr>
                    </thead>
                    {% for helper in helpers %}
                        {% if helper.poi and helper.poi.id %}
                            {% set value = helper.poi.id %}
                        {% else %}
                            {% set value = '' %}
                        {% endif %}
                        <tr class="table--line">
                            <td>{{ helper.user.lastname }}</td>
                            <td>{{ helper.user.firstname }}</td>
                            <td>{{ helper.favoritePoiType.type }}</td>
                            <td>
                                <select id="{{ helper.id }}" class="assign-poi">
                                        <option
                                            value="null"
                                            {% if value is not defined %}
                                                selected
                                            {% endif %}
                                        >
                                            Non défini
                                        </option>
                                    {% for poi in pois %}
                                        <option
                                            value="{{ poi.id }}"
                                            data-longitude="{{ poi.longitude }}"
                                            data-latitude="{{ poi.latitude }}"

                                            {% if (value is defined) and (value == poi.id)  %}
                                                selected
                                            {% endif %}
                                        >
                                            {{ poi.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="map--container content--half">
            <div id="map" class="map"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script>
      var mapManager;
      var raidID;
      document.addEventListener("DOMContentLoaded", function () {
        mapManager = new MapManager();
        raidID = parseInt({{ raid_id }});
        mapManager.initialize();
      });
    </script>
{% endblock %}