{% extends 'default/organizer.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>
    <style>
        .map--container {
            transition: none;
        }

        .map {
            height: 50%;
            width: 100%;
        }

        @media screen and (max-width: 980px) {
            .map {
                height: 50vh;
                width: 100%;
            }
        }
    </style>
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb--list">
        <li class="breadcrumb--list-item"><a href="{{ path('homepage') }}">Organizer</a></li>
        <li class="breadcrumb--list-item"><a href="{{ path('displayRaid', {'id': raid_id}) }}">{{ raidName }}</a></li>
        <li class="breadcrumb--list-item">Liste des bénévoles</li>
    </ol>
{% endblock %}

{% block main_attributes %}
    class="main-flex-column"
{% endblock %}

{% block body %}
    <h1>Liste des bénévoles</h1>
    <div class="content">
        <div class="content--half" id="helpers">
            <div class="table-search">
                <i class="fas fa-search"></i>
                <input class="search" placeholder="Rechercher" />
            </div>
            <div class="table--container">
                <table class="table">
                    <caption class="sr-only">Liste des organisateurs</caption>
                    <thead class="table--headers">
                    <tr>
                        <th scope="col">
                            <button class="btn btn-sort sort" data-sort="name">
                                <span>Nom</span>
                                <i class="fas fa-arrows-alt-v"></i>
                            </button>
                        </th>
                        <th scope="col">
                            <button class="btn btn-sort sort" data-sort="status">
                                <span>Statut</span>
                                <i class="fas fa-arrows-alt-v"></i>
                            </button>
                        </th>
                        <th scope="col">
                            <button class="btn btn-sort sort" data-sort="favorite-type">
                                <span>Souhait</span>
                                <i class="fas fa-arrows-alt-v"></i>
                            </button>
                        </th>
                        <th scope="col">
                            <button class="btn btn-sort sort" data-sort="assigned-poi">
                                <span>Affectation</span>
                                <i class="fas fa-arrows-alt-v"></i>
                            </button>
                        </th>
                        <th scope="col">
                            <button class="btn btn-sort sort" data-sort="helper-validate">
                                <span>Validation</span>
                                <i class="fas fa-arrows-alt-v"></i>
                            </button>
                        </th>
                    </tr>
                    </thead>
                    <tbody class="list">
                        {% for helper in helpers %}
                            {% if helper.poi and helper.poi.id %}
                                {% set value = helper.poi.id %}
                            {% else %}
                                {% set value = '' %}
                            {% endif %}
                            <tr class="table--line">
                                <td class="name">{{ helper.user.lastname }} {{ helper.user.firstname }}</td>
                                <td class="status" id="status-{{ helper.id }}">
                                    {% if value is empty %}
                                        <span class="helper-check helper-check--no-assign"></span>
                                        <span class="helper-check--text sr-only">Aucun POI assigné</span>
                                    {% elseif helper.isCheckedIn %}
                                        <span class="helper-check helper-check--in"></span>
                                        <span class="helper-check--text sr-only">Validé</span>
                                    {% else %}
                                        <span class="helper-check helper-check--not"></span>
                                        <span class="helper-check--text sr-only">Non validé</span>
                                    {% endif %}
                                </td>
                                <td class="favorite-type">{{ helper.favoritePoiType.type }}</td>
                                <td class="assigned-poi">
                                    <select
                                            id="{{ helper.id }}"
                                            class="assign-poi"
                                            {% if helper.isCheckedIn %}
                                                disabled
                                            {% endif %}
                                    >
                                        <option
                                                value="null"
                                                {% if value is not defined %}
                                                    selected
                                                {% endif %}
                                        >
                                            Non défini
                                        </option>
                                        {% for poi in pois %}
                                            <option
                                                    value="{{ poi.id }}"
                                                    data-longitude="{{ poi.longitude }}"
                                                    data-latitude="{{ poi.latitude }}"

                                                    {% if (value is defined) and (value == poi.id)  %}
                                                        selected
                                                    {% endif %}
                                            >
                                                {{ poi.name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td class="helper-validate">
                                    {% if value is empty %}
                                        <span class="helper-validate helper-validate--no-assign">-</span>
                                        <span class="helper-validate--text sr-only">Aucun POI assigné</span>
                                    {% elseif helper.isCheckedIn %}
                                        <span class="helper-validate helper-validate--valid">
                                            {{ helper.checkInTime|date('H:i:s') }}
                                        </span>
                                    {% else %}
                                        <button class="btn btn-validate-helper" data-helperid="{{ helper.id }}" data-raidid="{{ raid_id }}">Valider</button>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="map--container content--half">
            <div id="map" class="map"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script>
      var mapManager;
      var raidID;
      document.addEventListener("DOMContentLoaded", function () {
        mapManager = new MapManager();
        {# raidID = parseInt({{ raid_id }}); #}
        raidID = "{{ raid_id }}";
        mapManager.initialize();
      });
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
    <script>
        window.addEventListener('load', function() {
            // @TODO : Why this create problem on js functions about validation and affectation.
            //var options = {
            //    valueNames: ['name', 'status', 'favorite-type', 'assigned-poi', 'helper-validate']
            //};

            var helpersList = new List('helpers', []);
        });
    </script>
{% endblock %}
