{% extends 'default/organizer.html.twig' %}

{% block breadcrumb %}
    <ol class="breadcrumb--list">
        <li class="breadcrumb--list-item"><a href="{{ path('homepage') }}">Administration</a></li>
        <li class="breadcrumb--list-item"><a href="{{ path('listPoiType') }}">Liste des types de point d'intérêt</a></li>
        <li class="breadcrumb--list-item">Créer un type de poi</li>
    </ol>
{% endblock %}

{% block body %}

    <div class="main-form">
        <h1>Créer un type de point d'intérêt</h1>
        <div>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}
