{% extends 'default/organizer.html.twig' %}

{% block breadcrumb %}
    <ol class="breadcrumb--list">
        <li class="breadcrumb--list-item"><a href="{{ path('homepage') }}">Organizer</a></li>
        <li class="breadcrumb--list-item">Liste des type de points d'intérêt</li>
    </ol>
{% endblock %}

{% block body %}
    <div class="content">
        <div class="content--half">
            <h1>Liste des types de points d'intérêt</h1>

            {% for flash_message in app.session.flashBag.get('success') %}
                <div class="alert alert--success">
                    <p>{{ flash_message }}</p>
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashBag.get('danger') %}
                <div class="alert alert--danger">
                    <p>{{ flash_message }}</p>
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashBag.get('info') %}
                <div class="alert alert--info">
                    <p>{{ flash_message }}</p>
                </div>
            {% endfor %}
            <div class="table--container">
                <table class="table" id="helpersList">
                    <caption class="sr-only">Liste des types de points d'intérêt</caption>
                    <thead class="table--headers">
                    <tr>
                        <th scope="col">Type</th>
                        <th scope="col">Couleur</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>

                    {% for poiType in poiTypes %}
                        <tr class="table--line">
                            <td>{{ poiType.type }}</td>
                            <td>
                                <span class="char--poitype" id="char--poitype-{{ poiType.id }}" style="background-color:{{ poiType.color }}" data-poitype-color="{{ poiType.color }}"></span>
                            </td>
                            <td><a href="{{ path('displayPoiType', {'poiTypeId': poiType.id}) }}" class="btn">Editer</a>
                                <button data-poitype-id="{{ poiType.id }}" class="btn btn--danger btn--delete-poitype">
                                    Supprimer
                                </button> {#data-micromodal-trigger="delete-poitype" #}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="content--half">
            <h1>Ajouter un type de points d'intérêt</h1>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>


    <!-- [1] -->
    <div id="delete-poitype" aria-hidden="true" class="modal modal--danger" data-micromodal-close>
        <!-- [2] -->
        <div tabindex="-1" data-micromodal-close>
            <!-- [3] -->
            <div role="dialog" aria-modal="true" aria-labelledby="delete-poitype-title" >
                <div class="modal-container">
                    <header class="modal--header modal--header--danger">
                        <h2 id="delete-poitype-title">
                            Supprimer un type de point d'intérêt
                        </h2>
                        <!-- [4] -->
                        <button aria-label="Fermer la fenêtre" data-micromodal-close class="btn--danger"><i data-micromodal-close class="fas fa-times"></i></button>
                    </header>
                    <div id="delete-poitype-content" class="modal--content">
                        <p>Êtes-vous certains de vouloir supprimer ce type de point d'intérêt ?</p>
                        <p class="text--important">Cette action est irréversible.</p>
                        <div class="modal--actions">
                            <a href="" id="btn--delete-poitype" class="btn btn--danger" data-base-url="/organizer/poitype/delete/">Supprimer</a>
                            <button data-micromodal-close class="btn btn--cancel">Annuler</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
