{% extends 'default/organizer.html.twig' %}

{% block breadcrumb %}
    <ol class="breadcrumb--list">
        <li class="breadcrumb--list-item"><a href="{{ path('homepage') }}">Administration</a></li>
        <li class="breadcrumb--list-item">Liste des type de points d'intérêt </li>
    </ol>
{% endblock %}

{% block body %}
    <div>
        <h1>Liste des types de points d'intérêt</h1>
        <div class="table--container">
            <table class="table" id="helpersList">
                <caption class="sr-only">Liste des types de points d'intérêt</caption>
                <thead class="table--headers">
                <tr>
                    <th scope="col">Type</th>
                    <th scope="col">Couleur</th>
                </tr>
                </thead>
                {% for poiType in poiTypes %}
                    <tr class="table--line">
                        <td>{{ poiType.type }}</td>
                        <td>{{ poiType.color }}</td>
                        <td><a href="{{ path('displayPoiType', {'poiTypeId': poiType.id}) }}">Voir</a></td>
                        <td><a href="{{ path('deletePoiType', {'poiTypeId': poiType.id}) }}">Supprimer</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <button id="addPoiButton" class="btn--add-poi">
                <span class="btn--editor">

                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 122.85 122.85">
                          <path d="M122.85,48.06q0,12.15-6.75,19.44T96.93,74.79H74.79v48.06q-12.15,0-19.44-6.75T48.06,96.93V74.79H0Q0,62.64,6.75,55.35t19.17-7.29H48.06V0Q60.21,0,67.5,6.75t7.29,19.17V48.06Z" />
                        </svg>

                </span>
        </button>
    </div>
{% endblock %}