{% extends 'admin/admin.html.twig' %}

{% block breadcrumb %}
    <ol class="breadcrumb--list">
        <li class="breadcrumb--list-item"><a href="{{ path('homepage') }}">Administration</a></li>
        <li class="breadcrumb--list-item"><a href="{{ path('listSportType') }}">Les types de sports</a></li>
        <li class="breadcrumb--list-item">{{ sportType.sport }}</li>
    </ol>
{% endblock %}

{% block body %}
    <div class="main-form">
        <h1>{{ sportType.sport }}</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

        <button data-sporttype-id="{{ sportType.id }}" class="btn btn--danger btn--delete-sporttype btn--full-width">
            Supprimer
        </button> {#data-micromodal-trigger="delete-sporttype" #}
    </div>

    <!-- [1] -->
    <div id="delete-sporttype" aria-hidden="true" class="modal modal--danger" data-micromodal-close>
        <!-- [2] -->
        <div tabindex="-1" data-micromodal-close>
            <!-- [3] -->
            <div role="dialog" aria-modal="true" aria-labelledby="delete-sporttype-title" >
                <div class="modal-container">
                    <header class="modal--header modal--header--danger">
                        <h2 id="delete-sporttype-title">
                            Supprimer un sport
                        </h2>
                        <!-- [4] -->
                        <button aria-label="Fermer la fenêtre" data-micromodal-close class="btn--danger"><i data-micromodal-close class="fas fa-times"></i></button>
                    </header>
                    <div id="delete-sporttype-content" class="modal--content">
                        <p>Êtes-vous certains de vouloir supprimer ce sport ?</p>
                        <p class="text--important">Cette action est irréversible.</p>
                        <div class="modal--actions">
                            <a href="" id="btn--delete-sporttype" class="btn btn--danger" data-base-url="/admin/sporttype/delete/">Supprimer</a>
                            <button data-micromodal-close class="btn btn--cancel">Annuler</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}