{% extends 'default/external.html.twig' %}

{% block title %}Être bénévole au raid "{{ raid.name }}"{% endblock %}

{% block content %}
    <div class="centered--content">
        <h1>{{ raid.name }}</h1>
        <p class="important">Enregistrez-vous en tant que bénévole pour le raid "{{ raid.name }}" !</p>

        <div class="actions">
            <a href="{{ path('joinHelper', {'id': raid.uniqid }) }}" class="btn">Se connecter</a>
            <a href="{{ path('registerHelper', {'id': raid.uniqid }) }}" class="btn">Se créer un compte</a>
        </div>
    </div>
{% endblock %}
