{% extends 'default/external.html.twig' %}

{% block title %}Être bénévole au raid "{{ raid.name }}"{% endblock %}

{% block content %}
    <div class="centered--content">
        <h1>{{ raid.name }}</h1>
        <div class="social-media-share">
            <ul>
                <li>
                    <a href="https://www.facebook.com/sharer/sharer.php?u={{ meta['url'] }}" class="share-facebook" target="_blank">
                        <i class="fab fa-facebook-square fa-2x"></i>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/intent/tweet?text=Rejoins le raid {{ raid.name }}&url={{ meta['url'] }}&via=Raidy" class="share-twitter" target="_blank">
                        <i class="fab fa-twitter-square fa-2x"></i>
                    </a>
                </li>
            </ul>
        </div>
        <p class="important">Enregistrez-vous en tant que bénévole pour le raid "{{ raid.name }}" !</p>

        <div class="actions">
            <a href="{{ path('joinHelper', {'id': raid.uniqid }) }}" class="btn">Se connecter</a>
            <a href="{{ path('registerHelper', {'id': raid.uniqid }) }}" class="btn">Se créer un compte</a>
        </div>
    </div>
{% endblock %}
