{% extends 'default/external.html.twig' %}

{% block meta %}
    <!-- Open Graph meta (Facebook) -->
    <meta property="og:title" content="{{ meta['title'] }}" />
    <meta property="og:url" content="{{ meta['url'] }}" />
    <meta property="og:image" content="{{ asset(meta['image']) }}" />
    <meta property="og:description" content="{{ meta['description'] }}" />
    <meta property="og:site_name" content="Helper | Raidy" />
    <meta property="og:locale" content="fr_FR" />
    <meta property="og:type" content="website" />

    <!-- Twitter Card meta -->
    <meta name="twitter:site" content="Helper | Raidy">
    <meta name="twitter:title" content="{{ meta['title'] }}">
    <meta name="twitter:description" content="{{ meta['description'] }}">
    <meta name="twitter:url" content="{{ meta['url'] }}" />
    <meta name="twitter:image:src" content="{{ meta['image'] }}">
{% endblock %}

{% block content %}
<div class="centered--content">
    <h1>Mon super raid</h1>
    <div class="social-media-share">
        <ul>
            <li>
                <a href="https://www.facebook.com/sharer/sharer.php?u={{ meta['url'] }}" class="share-facebook" target="_blank">
                    <i class="fab fa-facebook-square fa-2x"></i>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/intent/tweet?text=Rejoins le raid {{ raid.name }}&url={{ meta['url'] }}&via=Raidy" class="share-twitter" target="_blank">
                    <i class="fab fa-twitter-square fa-2x"></i>
                </a>
            </li>
        </ul>
    </div>
    <p class="important login--text">Vous avez bien été enregistré en tant que bénévole pour ce raid !</p>

    <div class="actions">
        <div class="downloads">
            <p class="login--text">Téléchargez dès maintenant l'application Raidy</p>
            <div class="downloads--links">
                <a href="#">
                    <img src="{{ asset('assets/images/app-store-badge.png') }}" alt="">
                </a>
                <a href="#">
                    <img src="{{ asset('assets/images/google-play-badge.png') }}" alt="">
                </a>
            </div>
            <p class="login--text">ou</p>
            <a href="{{ path('helper') }}" class="btn">Accéder à mon compte</a>
        </div>
    </div>
</div>
{% endblock %}



